body{
    font-family: 'Montserrat', sans-serif;
    background-color: #000;
}

h1{
    color: white;
}

.montserrat-custom {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* Adjust weight as needed (100-900) */
    font-style:bold;    
}

.bienvenido.header{
    display: flex;
    justify-content: right;
    height: 40px;
   
}

.header img{
    width: 100px;
    height: 20px;
    margin-right: 20px;
    margin-top: 5px;
    align-items: center;
    padding-bottom: 5px;
}

.header-torneo{
    display: flex;
    justify-content: flex-end;
}

.navbar-brand img{
    width: 100px;
    height: 25px;
    padding-bottom: 5px;
    margin-right: 20px;
    margin-top: 5px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5); /* Desplazamiento X, desplazamiento Y, desenfoque, color */
    background-color: none;
}

.navbar-brand{
    font-family: "Montserrat", sans-serif;
    background-color: none;
    
}
#img-not{
    display: flex;
    height: 300px;
    border-radius: 0;
    margin: 5px;
    object-fit: cover;
}

.bienvenido{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-left: 10px;
    font-size: 200;
    padding: auto;
}

.bienvenido h1{
    align-items: center;
    padding-top: 5px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    width: auto;
    height: auto;
    background-color: #ffffff;
    margin: auto;
    align-items: center;

}

.offcanvas-header{
    display: flex;
    justify-content: space-between;    
}

.nav{
    justify-content: space-between;
    margin-left: 20px;
    
}

.nav-link{
    color: #000;

}

.label-not{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.card-footer{
    border: 0;
    background-color: #fff;
}
.card{
    border-radius: 0;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
footer a {
    color: #fff;
    margin: 0 10px;
}
footer a:hover {
    text-decoration: underline;
}

.imgRS{
    width: 30px;
    font-family: "Montserrat", sans-serif;
}


  
  .nav-underline .nav-link:hover {
    color: rgb(7, 132, 28); /* Cambia el color del texto al pasar el ratón */
  }

  .opciones {
    padding-top: 100px;
  }

 